.conda
.config
.cups
.dbvis
.docker
.easeus
.idlerc
.ipynb_checkpoints
.ipython
.ivy2
.jupyter
.kite
.local
.matplotlib
.msvscode.hdinsight
.npm
.oracle_jre_usage
.pgadmin
.putty
.ringcentralopener
.rstudio-desktop
.spss
.spyder-py3
.ssh
.subversion
.Trash
.vim
.vscode
.wdm
.wine
.zoomus
.zsh_sessions
Applications
bin
Desktop
Documents
Downloads
iCloud Drive (Archive) - 1
Library
Movies
Music
Pictures
Public
.bash
.lesshst
.python_history
.viminfo
.zsh_history
.zshrc
Untitled.ipynb
PycharmProjects
.bash_history
/Users/hariaravi
PycharmProjects/Aravind_website
/Users/hariaravi/PycharmProjects/GenAI
